.button{
-fx-background-position: center;
-fx-background-repeat: no-repeat;
-fx-background-size: cover;
}
#newFileButton, #saveButton, #openFileButton,#importButton,
#vertex1Button, #vertex1ButtonActivate, #vertex2Button,#edgeButton, #diEdgeButton,
#diEdgeWeightedButton, #textButton, #commentButton, #edgeButtonActivate,
#edgeButtonWeighted, #weightedEdgeButtonActivate, #weightedEdgeButton, #diEdgeButtonActivate,
#weightedDiEdgeButtonActivate, #weightedDiEdgeButton, #eraserButton, #eraserButtonActivate, #helpButton
{
-fx-background-color: #232323;
}
#newFileButton:hover{
-fx-background-image: url("../img/add-new-page-on.png");

}
#newFileButton{
-fx-background-image: url('../img/add-new-page.png');
}

#saveButton:hover{
-fx-background-image: url("../img/save-disk-on.png");

}
#saveButton{
-fx-background-image: url('../img/save-disk.png');
}

#openFileButton:hover{
-fx-background-image: url("../img/open-archive-on.png");

}
#openFileButton{
-fx-background-image: url('../img/open-archive.png');
}

#importButton:hover{
-fx-background-image: url("../img/import-on.png");

}
#helpButton{
-fx-background-image: url('../img/help.png');
}

#helpButton:hover{
-fx-background-image: url("../img/help-on.png");

}
#importButton{
-fx-background-image: url('../img/import.png');
}

#vertex1Button:hover{
-fx-background-image: url("../img/vertex1-on.png");

}
#vertex1Button{
-fx-background-image: url('../img/vertex1.png');
}

#vertex1ButtonActivate{
-fx-background-image: url("../img/vertex1-on.png");
}

#vertex2Button:hover{
-fx-background-image: url("../img/vertex2-on.png");

}
#vertex2Button{
-fx-background-image: url('../img/vertex2.png');
}


#edgeButton:hover, #edgeButtonActivate{
-fx-background-image: url("../img/edge-on.png");

}
#edgeButton{
-fx-background-image: url('../img/edge.png');
}

#weightedEdgeButton:hover, #weightedEdgeButtonActivate{
-fx-background-image: url("../img/edgeWeighted-on.png");

}
#weightedEdgeButton{
-fx-background-image: url('../img/edgeWeighted.png');
}


#diEdgeButton:hover, #diEdgeButtonActivate{
-fx-background-image: url("../img/diEdge-on.png");

}
#diEdgeButton{
-fx-background-image: url('../img/diEdge.png');
}

#weightedDiEdgeButton:hover, #weightedDiEdgeButtonActivate{
-fx-background-image: url("../img/diEdgeWeighted-on.png");

}
#weightedDiEdgeButton{
-fx-background-image: url('../img/diEdgeWeighted.png');
}

#eraserButton:hover, #eraserButtonActivate{
-fx-background-image: url("../img/erase-on.png");

}
#eraserButton{
-fx-background-image: url('../img/erase.png');
}

#commentButton:hover{
-fx-background-image: url("../img/comment-on.png");

}
#commentButton{
-fx-background-image: url('../img/comment.png');
}



