.button{
-fx-background-position: center;
 -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
}
#buttonPlay, #buttonForwardPlay, #buttonPause, #buttonPlayTimer, #buttonStop{
-fx-background-color: #232323;
}

#buttonPlay:hover{
-fx-background-image: url("../img/play-button-on.png");

}
#buttonPlay{
-fx-background-image: url('../img/play-button.png');
}

#buttonForwardPlay:hover{
-fx-background-image: url("../img/fast-forward-on.png");
}
#buttonForwardPlay{
-fx-background-image: url('../img/fast-forward.png');
}

#buttonPlayTimer:hover{
-fx-background-image: url("../img/play-timer-on.png");

}
#buttonPlayTimer{
-fx-background-image: url("../img/play-timer.png");
}

#buttonStop:hover{
-fx-background-image: url("../img/stop-on.png");

}
#buttonStop{
-fx-background-image: url("../img/stop.png");
}

#buttonPause:hover{
-fx-background-image: url("../img/pause-on.png");

}
#buttonPause{
-fx-background-image: url("../img/pause.png");
}

#bfs:selected, #dfs:selected, #dijkstra:selected, #dijkstra:selected, #kruskall:selected, #prim:selected, #bellman:selected{
-fx-background-color: #FF0000;
}
#bfs:hover, #dfs:hover, #dijkstra:hover, #dijkstra:hover, #kruskall:hover, #prim:hover, #bellman:hover{
-fx-background-color: #333333;

}
#bfs, #dfs, #dijkstra, #dijkstra, #kruskall, #prim, #bellman{
-fx-background-color: #575757;
-fx-border-color: #000000;
-fx-background-insets: 0;
-fx-text-fill: #FFFFFF;
-fx-font-size: 11pt;
}



/*#bfs:hover, #dfs:hover, #dijkstra:hover, #dijkstra:hover, #kruskall:hover, #prim:hover, #bellman:hover{
-fx-background-color: #575757;

}
#bfs, #dfs, #dijkstra, #dijkstra, #kruskall, #prim, #bellman{
-fx-background-color: #575757;
-fx-border-color: #000000;
-fx-background-insets: 0;
-fx-text-fill: #FFFFFF;
-fx-font-size: 11pt;
}

#bfs:armed, #dfs:armed, #dijkstra:armed, #dijkstra:armed, #kruskall:armed, #prim:armed, #bellman:armed{
-fx-background-color: #da5630;
}

#bfs:pressed, #dfs:pressed, #dijkstra:pressed, #dijkstra:pressed, #kruskall:pressed, #prim:pressed, #bellman:pressed{
-fx-background-color: #333333;
-fx-border-color: #000000;
-fx-background-insets: 0;
-fx-text-fill: #FFFFFF;
-fx-font-size: 11pt;
}*/

#cameraButton{
-fx-background-image: url('../img/camera.png');
-fx-background-color: #232323;
}

#cameraButton:hover{
-fx-background-image: url("../img/camera-on.png");
-fx-background-color: #232323;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color: #000000;
}
.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color: #000000;
}

.split-pane {
    -fx-border-color: #000000;
    -fx-background-color: #000000;
}

#bottomSplit{
  -fx-background-color: #4d4d4d;
}