.toolBar
{
-fx-background-color: #232323;
-fx-border-color: #000000;
}

.centerPage
{
-fx-background-color: #999999;
}

.algoButton {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #da5630;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #da5630;
    -fx-font-family: "Segoe UI", Helvetica, Arial, bold;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.algoButton:hover {
    -fx-background-color: #bf4c28;
    -fx-border-color: #bf4c28;
}

.algoButton:pressed, .algoButton:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.algoButton:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.algoButton:disabled, .algoButton:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.algoButton:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.algoButton:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}


.slider .thumb{
    -fx-background-color: rgb(60,60,60);
    -fx-border-radius: 10;
    -fx-border-color: darkgray;
 }
.slider .track{
    -fx-background-color: rgb(20,20,20);

}