.button{
-fx-background-position: center;
-fx-background-repeat: no-repeat;
-fx-background-size: cover;
}

#newFileButton:hover{
-fx-background-color: #232323;
-fx-background-image: url("add-new-page-on.png");

}
#newFileButton{
-fx-background-color: #232323;
-fx-background-image: url('add-new-page.png');
}

#saveButton:hover{
-fx-background-color: #232323;
-fx-background-image: url("save-disk-on.png");

}
#saveButton{
-fx-background-color: #232323;
-fx-background-image: url('save-disk.png');
}

#openFileButton:hover{
-fx-background-color: #232323;
-fx-background-image: url("open-archive-on.png");

}
#openFileButton{
-fx-background-color: #232323;
-fx-background-image: url('open-archive.png');
}

#importButton:hover{
-fx-background-color: #232323;
-fx-background-image: url("import-on.png");

}
#importButton{
-fx-background-color: #232323;
-fx-background-image: url('import.png');
}

#vertex1Button:hover{
-fx-background-color: #232323;
-fx-background-image: url("vertex1-on.png");

}
#vertex1Button{
-fx-background-color: #232323;
-fx-background-image: url('vertex1.png');
}

#vertex2Button:hover{
-fx-background-color: #232323;
-fx-background-image: url("vertex2-on.png");

}
#vertex2Button{
-fx-background-color: #232323;
-fx-background-image: url('vertex2.png');
}


#edgeButton:hover{
-fx-background-color: #232323;
-fx-background-image: url("edge-on.png");

}
#edgeButton{
-fx-background-color: #232323;
-fx-background-image: url('edge.png');
}

#diEdgeButton:hover{
-fx-background-color: #232323;
-fx-background-image: url("diEdge-on.png");

}
#diEdgeButton{
-fx-background-color: #232323;
-fx-background-image: url('diEdge.png');
}

#diEdgeWeightedButton:hover{
-fx-background-color: #232323;
-fx-background-image: url("diEdgeWeighted-on.png");

}
#diEdgeWeightedButton{
-fx-background-color: #232323;
-fx-background-image: url('diEdgeWeighted.png');
}

#textButton:hover{
-fx-background-color: #232323;
-fx-background-image: url("text-on.png");

}
#textButton{
-fx-background-color: #232323;
-fx-background-image: url('text.png');
}

#commentButton:hover{
-fx-background-color: #232323;
-fx-background-image: url("comment-on.png");

}
#commentButton{
-fx-background-color: #232323;
-fx-background-image: url('comment.png');
}


#slider .thumb{
    -fx-background-color: rgb(60,60,60);
    -fx-border-radius: 10;
    -fx-border-color: darkgray;
 }
#slider .track{
    -fx-background-color: rgb(20,20,20);

}