.button{
-fx-background-position: center;
 -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
}
#buttonPlay, #buttonForwardPlay, #buttonPause, #buttonPlayTimer, #buttonStop{
-fx-background-color: #232323;
}

#buttonPlay:hover{
-fx-background-image: url("play-button-on.png");

}
#buttonPlay{
-fx-background-image: url('play-button.png');
}

#buttonForwardPlay:hover{
-fx-background-image: url("fast-forward-on.png");

}
#buttonForwardPlay{
-fx-background-image: url('fast-forward.png');
}

#buttonPlayTimer:hover{
-fx-background-image: url("play-timer-on.png");

}
#buttonPlayTimer{
-fx-background-image: url("play-timer.png");
}

#buttonStop:hover{
-fx-background-image: url("stop-on.png");

}
#buttonStop{
-fx-background-image: url("stop.png");
}

#buttonPause:hover{
-fx-background-image: url("pause-on.png");

}
#buttonPause{
-fx-background-image: url("pause.png");
}





#bfs:hover, #dfs:hover, #dijkstra:hover, #dijkstra:hover, #kruskal:hover, #prim:hover{
-fx-background-color: #3F3F3F;

}
#bfs, #dfs, #dijkstra, #dijkstra, #kruskal, #prim {

-fx-background-color: #575757;
-fx-border-color: #000000;
-fx-background-insets: 0;
-fx-text-fill: #FFFFFF;
-fx-font-size: 11pt;


}


.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color: #000000;
}
.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color: #000000;
}

.split-pane {
    -fx-border-color: #000000;
    -fx-background-color: #000000;
}

#bottomSplit{
  -fx-background-color: #4d4d4d;
}