.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color: #000000;
}
.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color: #000000;
}

.split-pane {
    -fx-border-color: #000000;
    -fx-background-color: #000000;
}