.background {
    -fx-background-color: #1d1d1d;
}

#open {
    -fx-background-image: url("Folder-icon.png");
    -fx-background-size: 24 24;
    -fx-background-color: #1d1d1d;
    -fx-background-repeat: no-repeat;
}

#open:hover {
    -fx-background-image: url("Folder-icon.png");
    -fx-background-color: #FFFFFF;
    -fx-background-repeat: no-repeat;
}